body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#movieUrl {
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  padding: 10px 10px 50px 10px;
  background-color: #f0f0f0;
  border-radius: 6px;
  text-align: center;
  position: relative; /* For positioning the add button */
  transition: transform 0.2s ease;
}

/* .movie-card:hover {
  transform: scale(1.05);
} */

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.movie-card h3 {
  margin: 10px 0;
}

/* Add button on top-right of the poster */
.add-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 123, 255, 0.7);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: rgba(0, 123, 255, 1);
}

.hidden {
  display: none;
}

#addMovieSection {
  margin-top: 20px;
  text-align: center;
}

.add-movie {
  position: absolute;
  bottom: 10px;
}

.tick {
  position: absolute;
  width: 30px;
  right: 10px;
}

.not-allowed {
  cursor: not-allowed;
}

.imdb-rating {
  width: 35px;
  display: flex;
  justify-content: center;
}
